{% extends 'base.html' %}
{% block title %}  Product {% endblock title %}
{% block style %}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color :aliceblue;
    font-family: cursive;
  }

  body{
      background-color: #111526;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .form-group{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1.2rem;
      width: 45%;
      background-color: rgba(0,0,0,0.4);
      border-radius: 20px;
  }

  #heading{
      text-align: center;
      margin-top: 1.2rem;
      font-size: 2rem;
      color: #00e8da;
  }

  .detail{
      /* border: 2px solid red; */
      margin : 1.6rem 0rem;
      font-size: 1.1rem;
  }

  #btn{
      display: flex;
      justify-content: center;
  }

  #fil:hover{
      cursor: pointer;
  }
{% endblock style %}
{% block body %}
Add your products here  


<div class="form-group">
    <form method="POST" action="/" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}

{% block js %}
{% endblock js %}
{% comment %} <div class="mb-3">
    <label for="name" class="form-label">Product Name</label>
    <input type="text" class="form-control" id="name" name='prodname'>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" name='price'>
  </div>
  <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name='category'>
  </div>
  <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name='description'>
  </div>
  <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" id="image" name= 'image'>
  </div>
  <br>
  <br> {% endcomment %}