{% extends 'base.html' %}

{% block style %}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}

/*
    color: #0266bff2;
    color: #035eadf2;
    color: #055193f2;
    color: #0f7bda99;
    color: #1c2665;
    color: #222e79;
    color: #9fcff9f2;
    color: #9fcff9;
    color: #f6f7fd;
    color: #e1dfdf;  
*/

body{
    background-color: #111526;
}

#sec1{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#heading{ 
    background-color:#2a2d44;
    height: 5rem;
    width: 100%;
    /* flex-basis: 100%;*/
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#left-arrow{
    padding-left: 3.5rem;
}
#left-arrow button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 1.2rem;
}
button a{
    text-decoration: none;
    color: aliceblue;
}
button a:hover{
    color: rgb(6, 6, 219);
}

#mid{
    color: aliceblue;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    font-size: 1.5rem;
    font-family :'Times New Roman', Times, serif;
    padding-left: 7.5rem;
}
#creation{
    color: black;
    text-transform: uppercase;
    background-color: #00e8da;
    padding: 0.6rem;
    font-weight: bold; 
    border-radius: 0.8rem;
    margin-right: 3.5rem;
    font-size: 1.2rem;
    font-family: cursive;
}
#creation button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: black;
    font-size: 1.2rem;
}
#ba{
    color: #111526;
}
#ba:hover{
    color: rgb(6, 6, 219);
}
#creation:hover{
    cursor:pointer;
    /* background-color: rgba(0,0, rgb(2, 112, 126)); */
    background-color: rgb(37, 144, 159);
}

#creation button:hover{
    cursor: pointer;
}

#sep{
    border: 3px solid #4c5666;
    display: flex;
    overflow: hidden;
}

#sep2{
    position: absolute;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
    border: 3px solid #00e8da;
    top: 5rem;
}

.image{
    position: absolute;
    top: 6rem;
    /* height: 11rem;*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.column-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* #canvas{
    position: absolute;
    top: 40rem;
    left: 22rem;
    width: 40rem;
    height: 20rem;
    background-color: #e1dfdf;
    border: 2px solid #e1dfdf;
    border-radius: 10px;
    margin-top: 1.2rem;
} */

#image-inside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.txt{
    color:#9fcff9;
    font-size: 2rem;
    width: 100%;
    text-align: center;   
}

#display{
    width: 40rem;
    height: 20rem;
    background-color: #e1dfdf;
    border: 2px solid #e1dfdf;
    border-radius: 10px;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    /* overflow: visible!important; */
}

#display p{
    font-size: 25px;
    margin-top: 9.2rem;
}

#snap{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#e1dfdf;
    border: 2px solid #4d90fe;
    margin-top: 22rem;
    border-radius: 50%;
    padding: 5px 6px;
    background-color:#4d90fe;
    visibility: hidden;
    cursor: pointer;
}

.choose-image{
    margin-top: 1.2rem;
}
#access{
    width: 12rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #00e8da;
}
#access:hover{
    cursor: pointer;    
}
#access p{
    font-size: 1.5rem;
    font-family: cursive;
}

.option{
    display: flex;
    margin-top: 1.1rem;
    visibility: hidden;
    margin-left: 15rem;
}
input[type="file"] {
    width: 0;
    height: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}

label[for=acc]{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top : 28.45rem;
    left: 29.5rem;
    width: 12.02rem;
    height: 2.3rem;
    border-radius: 10px;
    background-color: #00e8da;
    font-size: 1.5rem;
    font-family: cursive;
    cursor: pointer;
}

label[for=acc]:hover{
    transform: scale(1.05);
}

#camera{
    cursor: pointer;
}
#camera:hover{
    transform: scale(1.05);
}

.pw{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40rem;
    height: 40rem;
    width: 100%;
}

.pw img{
    height: 20rem;
    width: 20rem;
    /* visibility: hidden; */
}

#forms_page{
    position: absolute;
    top: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d90fe;
    width: 100%;
    height: 10rem;
}

#forms{
    display: flex;
    justify-content: center;
    align-items: center;
}
{% endblock style %}
{% block title %}{% endblock title %}
{% block body %}
<img src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" id="i" alt="">
<section id="sec1">   
    <div id="heading">
        <div id="left-arrow">
            <button><a href="http://"><i class="fa-solid fa-arrow-left"></i></a></button>
            <!-- <button><i class="fa-solid fa-arrow-left"></i></button> -->
        </div>
        <div id="mid">
            <span><i class="fa-solid fa-bag-shopping"></i></span>
            <span>Augine Fashion</span>
            <span><i class="fa-solid fa-bag-shopping"></i></span>
            
        </div>
        <div id="creation">
            <span>Enter Hub <button><a href="../Amazon Fashion/avatar.html" id="ba"><i class="fa-solid fa-arrow-right"></i></a></button></span>
        </div>
    </div>
    <div>
        <hr id="sep">
        <div>
            <hr id="sep2">
        </div>
    </div>
</section>
<section class="image">
    <h1 class="txt">
        Image Accessories Section
    </h1>
    <div class="column-left">
        <div id="image-inside">
            <div id="display">
                <p id="dis_in">Image Display</p>
            </div>
            <div id="snap" role="button" onClick="take_snapshot()">
                <i class="fa-solid fa-camera"></i>
            </div>
            <div class="choose-image">
                <button id="access"><p>Upload Image</p></button>
            </div>
            <div class="option">
                <div id="browse">
                    <input type="file" , image/png" id="acc">
                    <label for="acc">Browse</label>
                </div>
                <div id="camera">
                    <button id="access"><p>Camera</p></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pw">
    <div id="results" ></div>
    <!-- <img id="preview" src="" alt="not loaded"> -->
</section>


{% comment %} It is where my form is {% endcomment %}

<section id="forms_page">
    <div id="form">
        <form id="colorForm" action="" method="get">
            <input type="file" name="image" id="val" value="">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>






<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js"></script>
{% endblock body %}
{% block js %}
let access = document.querySelector('.choose-image');
let visible= document.querySelector('.option');
access.addEventListener('click',()=>{
    let music = new Audio("../Assets/mixkit-typewriter-soft-click.wav");
    music.volume = 0.3;
    music.play();
    visible.style.visibility = 'visible'; 
})

const img_input = document.querySelector('#acc');
let dis = document.querySelector('#dis_in');
var uploaded_image= "";

img_input.addEventListener("change",function(){
    const reader = new FileReader();
    let x=1;
    reader.addEventListener("load",()=>{
        uploaded_image= reader.result;
        document.querySelector("#display").style.backgroundImage = `url(${uploaded_image})`;
        dis.style.visibility='hidden';
        sessionStorage.setItem("recent-image",uploaded_image);
    })
    reader.readAsDataURL(this.files[0]);
    // document.querySelector('.pw img').style.visibility = 'visible';
})
document.addEventListener("DOMContentLoaded", () => {
    const recentImageDataUrl = sessionStorage.getItem("recent-image");
    // console.log(recentImageDataUrl);
    if (recentImageDataUrl){
        document.querySelector("#preview").setAttribute("src", recentImageDataUrl);
    }
});

let cam = document.querySelector('#camera');
let snaper = document.querySelector('#snap');
let video = document.querySelector('#display');
let snapshot = document.getElementById('results')
let extract = document.querySelector('#val');

cam.addEventListener('click',function(){
    access.style.visibility = 'hidden';
    visible.style.visibility = 'hidden';
    snaper.style.visibility = 'visible';
    Webcam.set({
        width: 700,
        height: 350,
        image_format:'jpeg/png',
        jpeg_quality:90
    })
    Webcam.attach('#display');
})
function take_snapshot() {
    Webcam.snap( function(data_uri) {
        snapshot.innerHTML = '<img src="'+data_uri+'"/>';
        sessionStorage.setItem("snap-photo",snapshot.innerHTML);
        extract.setAttribute('value',snapshot.innerHTML);
        console.log(extract);
    });
}


{% comment %} document.body.style.backgroundColor = 'rgb('+rgb.r+','+rgb.g+','+rgb.b+')'; {% endcomment %}
{% comment %} this above line is useless {% endcomment %}

{% comment %} new stuff here {% endcomment %}

var rgb = getAverageRGB(document.getElementById('i'));
console.log(rgb);

var red = rgb.r;
var blue = rgb.b;
var green = rgb.g;
{% comment %} 
console.log(red)
console.log(blue)
console.log(green)  
{% endcomment %}

var href = red + '-' + blue + '-' + green;
console.log(href, 'hello');

document.getElementById('colorForm').setAttribute('action' ,"categories/"+red+"-"+green+"-"+blue); 
{% comment %} document.getElementById('colorForm').setAttribute('action' ,"categories/{{" + href + "}}");  {% endcomment %}

localStorage.setItem('rgb', [red,blue,green]);  
function getAverageRGB(imgEl) {
    
var blockSize = 5, // only visit every 5 pixels
    defaultRGB = {r:0,g:0,b:0}, // for non-supporting envs
    canvas = document.createElement('canvas'),
    context = canvas.getContext && canvas.getContext('2d'),
    data, width, height,
    i = -4,
    length,
    rgb = {r:0,g:0,b:0},
    count = 0;
    {% comment %} console.log("hello")  found here  {% endcomment %} 
    
if (!context) {
    console.log("hello")
    return defaultRGB;
}
{% comment %} console.log("hello") found here {% endcomment %}

height = canvas.height = imgEl.naturalHeight || imgEl.offsetHeight || imgEl.height;
width = canvas.width =   imgEl.naturalWidth  || imgEl.offsetWidth  || imgEl.width;

context.drawImage(imgEl, 0, 0);

try {
    data = context.getImageData(0, 0, width, height);
} catch(e) {
    {% comment %} /* security error, img on diff domain */alert('x'); {% endcomment %}
    console.log("hello")
    return defaultRGB;
}

length = data.data.length;

while ( (i += blockSize * 4) < length ) {
    ++count;
    rgb.r += data.data[i];
    rgb.g += data.data[i+1];
    rgb.b += data.data[i+2];
}

// ~~ used to floor values
rgb.r = ~~(rgb.r/count);
rgb.g = ~~(rgb.g/count);
rgb.b = ~~(rgb.b/count);

console.log(rgb.r)
console.log("hello")
return rgb;
}

{% endblock js %}