*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #111526;
}

/*--------------------------------------------Section-1 Start-------------------------------------------*/

#sec1{
    width: 100%;
}

#heading{ 
    background-color:#2a2d44;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#left-arrow{
    padding-left: 3.5rem;
}
#left-arrow button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 1.2rem;
}
button a{
    text-decoration: none;
    color: aliceblue;
}
button a:hover{
    color: rgb(6, 6, 219);
}

#mid{
    color: aliceblue;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    font-size: 1.5rem;
    font-family :'Times New Roman', Times, serif;
    padding-left: 7.5rem;
}
#creation{
    color: black;
    text-transform: uppercase;
    background-color: #00e8da;
    padding: 0.6rem;
    font-weight: bold; 
    border-radius: 0.8rem;
    margin-right: 3.5rem;
    font-size: 1.2rem;
    font-family: cursive;
}
#creation button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: black;
    font-size: 1.2rem;
}
#ba{
    color: #111526;
}
#ba:hover{
    color: rgb(6, 6, 219);
}
#creation:hover{
    cursor:pointer;
    /* background-color: rgba(0,0, rgb(2, 112, 126)); */
    background-color: rgb(37, 144, 159);
}

#creation button:hover{
    cursor: pointer;
}

#sep{
    border: 3px solid #4c5666;
    display: flex;
    overflow: hidden;
}

#sep2{
    position: absolute;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 75%;
    border: 3px solid #00e8da;
    top: 5rem;
}

/*---------------------------------------------Section-1 Over----------------------------------------------------*/

/*---------------------------------------------Section-2 come here ----------------------------------------------*/

/*---------------------------------------------Section-3 Start----------------------------------------------------*/

#sec3{
    position: absolute;
    top: 28rem;
    height: 11rem;
    width: 100%;    
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#section-3-top{
    flex-basis: 50%;
    background-color: #0a0a1b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    text-transform: uppercase;  
}

.items{ 
    flex-basis: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-3-bottom{  
    flex-basis: 50%;
    background-color: #2a2d44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requirement{
    display: flex;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 2.5rem;
    color: #7376a3;
    padding: 0 1.3rem;
}

.requirement:hover{
    transform: scale(1.15);  
    cursor: pointer;
}

.add_color{
    fill: #00e8da;
    transform: scale(1.25);
}
